.network-status-bar {
  opacity: 0.5;
  padding: 10px 10px 1px;
}

.network-status-bar--online,
.network-status-bar--offline {
  background: transparent;
  color: white;
}

.network-status-bar--online {
  border-bottom: 3px solid red;
}

.network-status-bar--offline {
  border-bottom: 3px solid green;
}
