 .network-status-bar{
    padding: 10px;
    margin: 40px;
    border: 1px solid yellow;
    border-radius: 5px;
}

.network-status-bar--online {
    border: 1px solid red;
    background: red;
    color: white;
}

.network-status-bar--offline {
    border: 1px solid green;
    background: green;
    color: white;
}
