.service-decrypted,
.service-decrypted:focus {
  --black: #000;
  --white: #fff;
  --snow-white: #ebe5e5;

  cursor: pointer;
  perspective: 1000px;
  outline: none;
  border: none;
  padding: 0;
  background: var(--white);
}

.service-decrypted:hover .service-decrypted__front,
.service-decrypted.clicked:hover .service-decrypted__back {
  background: var(--snow-white);
}

.service-decrypted.clicked
.service-decrypted__inner-container,
.service-decrypted__back {
  transform: rotateY(180deg);
}

.service-decrypted,
.service-decrypted__front,
.service-decrypted__back {
  width: 240px;
}

.service-decrypted__inner-container {
  position: relative;
	transition: 0.6s;
  transform-style: preserve-3d;
  height: 125px;
}

.service-decrypted__front,
.service-decrypted__back {
  background: var(--white);
  backface-visibility: hidden;
  padding: 10px;
  height: 125px;
  overflow: auto;
  word-break: break-all;
  border: 1px solid var(--black);
  position: absolute;
	top: 0;
  left: 0;
}

.service-decrypted__front {
  z-index: 2;
}

.service-decrypted.clicked .service-decrypted__front::-webkit-scrollbar-thumb {
  background: var(--white);
}

.service-decrypted__back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-decrypted__icon {
  margin-bottom: 15px;
}

.service-decrypted__data-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.password-value {
  font-size: 20px;
}
