.create-new-page {
  padding-bottom: 20px;
}

.create-new-page__make-file-section {
  display: grid;
  padding: 0 20px;
}

.create-new-page__make-password-file-btn {
  justify-self: end;
}

.create-new-page-heading-text {
  display: inline-block;
  margin: 15px;
}

.service-list {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.no-services-container {
  opacity: 0.5;
  text-align: center;
  padding: 20px;
}

.no-services-icon {
  margin-bottom: 15px;
}
