.root-wrapper {
  position: relative;
  display: inline-block;
}

.root-wrapper:hover > .popover {
  display: inline;
}

.popover-wrapped-component {
  display: inline-block;
}

.popover-wrapped-component--removed-children-margins > *:first-child {
  margin: 0px;
}

.popover {
  display: none;
}

.popover-cloud {
  position: absolute;
  word-wrap: break-word;
  color: black;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgb(54, 53, 53);
  border: 1px solid rgb(95, 117, 88);
}
