.application-header {
  --green: #699252;
  -webkit-app-region: drag;
  position: relative;
  text-align: center;
  padding: 20px 0;
  background: var(--green);
  box-shadow: 0 2px 5px var(--green);
}

.application-heading-text {
  margin-bottom: 0;
}

.application-header__upper-left-corner {
  position: absolute;
  top: 0;
  left: 20px;
}

.application-header__close-app-btn {
  position: fixed;
  top: 0;
  right: 15px;
}

.application-header__upper-left-corner,
.application-header__close-app-btn {
  -webkit-app-region: no-drag;
}

.show-authors-btn-container {
  padding-top: 10px;
}

.show-authors-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.show-authors-btn:focus {
  outline: none;
}

.show-authors-btn:hover {
  opacity: 0.8;
}
