.add-service-form {
  display: grid;
  grid-template-columns: 440px auto;
  padding: 20px;
}

.add-service-form__label-container {
  margin-bottom: 10px;
}

.add-service-form__select {
  padding: 5px;
}

.add-service-form__label,
.add-service-form__select--label {
  margin-right: 6px;
}

.add-service-form__text-input {
  padding: 6px;
}

.add-service-form__submit-btn {
  display: block;
}
