@font-face {
  font-family: 'LatoRegular';
  src:  url('./fonts/LatoLatin-Regular.woff2') format('woff2'),
        url('./fonts/LatoLatin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'LatoSemibold';
  src:  url('./fonts/LatoLatin-Semibold.woff2') format('woff2'),
        url('./fonts/LatoLatin-Semibold.woff') format('woff');
}

:root {
  --white: #fff;
  --light-gray: #d3d3d3;
  --light-green: #bbdaa9;
}

html,
body {
  height: 100vh;
  font-family: LatoRegular, sans-serif;
}

html {
  border: 1px solid #bbdaa9;
  overflow: hidden;
}

body {
  overflow: auto;
}

::-webkit-scrollbar {
  background-color: var(--white);
  width: 10px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
}

.password-backpack-select,
.password-backpack-button {
  background: transparent;
}

.password-backpack-button {
  border: 1px solid var(--light-gray);
  background: var(--white);
  transition: background-color 0.4s ease-in-out;
  padding: 8px;
  cursor: pointer;
}

.password-backpack-button:hover {
  background: var(--light-green);
}

.password-backpack-button:disabled {
  cursor: default;
}

.password-backpack-button:disabled.password-backpack-button:hover {
 background: var(--white);
}
