@font-face {
  font-family: 'LatoRegular';
  src:  url('./fonts/LatoLatin-Regular.woff2') format('woff2'),
        url('./fonts/LatoLatin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'LatoSemibold';
  src:  url('./fonts/LatoLatin-Semibold.woff2') format('woff2'),
        url('./fonts/LatoLatin-Semibold.woff') format('woff');
}

html, body {
  height: 100%;
  font-family: LatoRegular, sans-serif;
}
